/* .product{
    display: flex;
    
} */

.btn-regular{
    background-color: goldenrod ;
    width: 150px;
    height: 30px;
    border:1px solid gray;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}